{% comment %}

Esse include cria um badge ou mais de acordo com a categoria da publicação.

Ele faz uso de um switch case.

{% endcomment %}

<style>
	/* Badge CIVIL */
	.badge-civil {
	  background-color: #4285F4;
	  color: white;
	}

	/* Badge IMOBILIÁRIO */
	.badge-imobiliario {
	  background-color: #3B97A4;
	  color: white;
	}

	/* Badge AMBIENTAL */
	.badge-ambiental {
	  background-color: #34A853;
	  color: white;
	}

	/* Badge PENAL */
	.badge-penal {
	  background-color: #EA4335;
	  color: white;
	}

	/* Badge TRABALHISTA */
	.badge-penal {
	  background-color: #FBBC05;
	  color: white;
	}

	/* Badge ARMAS */
	.badge-penal {
	  background-color: #1D1E2C;
	  color: white;
	}
</style>

{% for cat in page.categories %}

	{% case cat %}

		{% when "ambiental" %}

			<span class="badge text-bg-success">Ambiental</span>

		{% when "civil" %}

			<span class="badge text-bg-primary">Civil</span>

		{% when "imobiliario" %}

			<span class="badge text-bg-secondary">Imobiliário</span>

		{% when "penal" %}

			<span class="badge text-bg-danger">Penal</span>

		{% when "trabalhista" %}

			<span class="badge text-bg-warning">Trabalhista</span>

		{% when "armas" %}

			<span class="badge text-bg-dark">Armas</span>

	{% endcase %}

{% endfor %}


