<style>
    /* Botão customizado na Cor AZUL*/
    .btn-default {
      background-color: #062A4E; /* Cor do Logotipo */
      color: white; /* cor da fonte */
      border: none; /* sem borda */
      transition: all 0.2s ease-in-out; /* efeito de transição */
      display: inline-block;
      white-space: nowrap;
    }

    /* Botão customizado ao passar o mouse */
    .btn-default:hover {
      background-color: #062A4E30; /* cor ao passar o mouse */
      cursor: pointer; /* cursor de clique */
    }

    /* Botão customizado do WhatsApp*/
    .btn-whatsapp {
      background-color: #25D366; /* cor do WhatsApp */
      color: white; /* cor da fonte */
      border: none; /* sem borda */
      transition: all 0.2s ease-in-out; /* efeito de transição */
      display: inline-block;
      white-space: nowrap;
    }

    /* Botão customizado ao passar o mouse */
    .btn-whatsapp:hover {
      background-color: #25D36630; /* cor ao passar o mouse */
      cursor: pointer; /* cursor de clique */
    }
</style>

<!-- Ficou Interessado -->
<section class="reveal" style="margin: 2vh 0; padding: 2vh 0;">

        <h1 style="text-align: center;font-family:'Oswald';">FICOU INTERESSADO?</h1>
        <hr style="max-width: 50px;border-width: 3px;border-color: rgba(6,42,78);text-align: center;margin: auto;padding: 3vh; opacity:1"></hr>

        <!-- Linha de informação -->
        <div class="row m-0 gx-5">

            <!-- Columa: Conteúdo -->
            <div class="col p-2 d-block section-responsive" style="max-width:100vw; margin: auto;">

                <div class="row m-0 justify-content-center">

                    <!-- Inscreva-se -->
                    <div class="col-sm-5" style="padding-bottom: 2.5vh;">
                
                        <div class="container-fluid p-0 m-0">
                            <h3 style="text-align: center;font-family:'Oswald';">NEWSLETTER</h3>
                            <hr style="max-width: 25px;border-width: 2px;border-color: rgba(6,42,78);text-align: center;margin: auto;padding: 1vh; opacity:1"></hr>

                            <p style="text-align: center;">Fique por dentro das novidades do blog da <strong>Garcez Filho | Advocacia & Consultoria
                            Jurídica</strong>, assinando a nossa newsletter.</p>

                            <!-- Formulário para inscrição da newsletter -->
                            <form>
                                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                    <label for="newsletter1" class="visually-hidden">Email address</label>
                                    <input id="newsletter1" type="text" class="form-control" placeholder="Endereço de email">
                                    <button class="btn btn-default" type="button">
                                        <i class="bi bi-send"></i> Assinar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-2 d-none d-sm-block" style="padding-bottom: 2.5vh; max-width: 5vh;">
                    </div>

                    <!-- Entre em contato -->
                    <div class="col-sm-5" style="padding-bottom: 2.5vh;">
                        <h3 style="text-align: center;font-family:'Oswald';">MENSAGEM</h3>
                        <hr style="max-width: 25px;border-width: 2px;border-color: rgba(6,42,78);text-align: center;margin: auto;padding: 1vh; opacity:1"></hr>

                        <p style="text-align: center;">Envie uma mensagem pelo WhatsApp e logo alguém da equipe de <strong>Garcez Filho | Advocacia & Consultoria Jurídica</strong>
                        entrará em contato com você.</p>

                        <!-- Entre em contato -->
                        <div class="container-fluid" style="text-align: center;">
                            <a href="https://wa.me/5511999776346" class="btn btn-whatsapp" role="button" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
</section>