{% assign dia = include.post_date | date: "%d" %}
{% assign mes = include.post_date | date: "%B" | string | downcase %}
{% assign ano = include.post_date | date: "%Y" %}

{% if mes == "january" %}
  {{ dia }} Jan {{ ano }}
{% endif%}
{% if mes == "february" %}
  {{ dia }} Fev {{ ano }}
{% endif%}
{% if mes == "march" %}
  {{ dia }} Mar {{ ano }}
{% endif%}
{% if mes == "april" %}
  {{ dia }} Abr {{ ano }}
{% endif%}
{% if mes == "may" %}
  {{ dia }} Mai {{ ano }}
{% endif%}
{% if mes == "june" %}
  {{ dia }} Jun {{ ano }}
{% endif%}
{% if mes == "july" %}
  {{ dia }} Jul {{ ano }}
{% endif%}
{% if mes == "august" %}
  {{ dia }} Ago {{ ano }}
{% endif%}
{% if mes == "september" %}
  {{ dia }} Set {{ ano }}
{% endif%}
{% if mes == "october" %}
  {{ dia }} Out {{ ano }}
{% endif%}
{% if mes == "november" %}
  {{ dia }} Nov {{ ano }}
{% endif%}
{% if mes == "december" %}
  {{ dia }} Dez {{ ano }}
{% endif%}