{% comment %}

Esse include insere um footer genérico.

{% endcomment %}

<!-- Footer -->
<section class="reveal" style="background: #062a4e; color: #e4c84d;">
    <div class="container-fluid" style="max-width:70vw">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            <!-- Coluna da Esquerda: Logo + Slogan -->
            <div class="col-lg-6 col-md-6 col-sm-12 align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-2">
                    <img src="/assets/logo_footer.svg" alt="logotipo footnote" style="background: #062a4e;">
                </div>
            </div>

            <!-- Coluna do Meio: Links -->
            <div class="col-lg-3 col-md-6 col-sm-12 align-items-start">
                <div>
                    <h5 style="font-family:'Book Antiqua';font-weight: bold;">Links</h5>

                    <!-- Links -->
                    <ul class="list-unstyled small">
                      <li class="mb-2"><a href="https://www.garcezfilho.com.br/" style="color: white; text-decoration: none!important">Início</a></li>
                      <li class="mb-2"><a href="https://www.garcezfilho.com.br/#servicos" style="color: white; text-decoration: none!important">Serviços</a></li>
                      <li class="mb-2"><a href="https://www.garcezfilho.com.br/#sobre" style="color: white; text-decoration: none!important">Sobre</a></li>
                      <li class="mb-2"><a href="https://www.garcezfilho.com.br/#equipe" style="color: white; text-decoration: none!important">Equipe</a></li>
                      <li class="mb-2"><a href="https://www.garcezfilho.com.br/#localizacao" style="color: white; text-decoration: none!important">Localização</a></li>
                      <li class="mb-2"><a href="#" style="color: white; text-decoration: none!important">Blog</a></li>
                      <li class="mb-2"><a href="https://www.garcezfilho.com.br/#contatos" style="color: white; text-decoration: none!important">Contatos</a></li>
                    </ul>
                </div>
            </div>

            <!-- Coluna da Direita: Aviso e Termos -->
            <div class="col-lg-3 col-md-6 col-sm-12 align-items-start">
                <div>
                    <h5 style="font-family:'Book Antiqua';font-weight: bold;">Políticas, avisos e termos</h5>

                    <!-- Links -->
                    <ul class="list-unstyled small">
                      <li class="mb-2"><a href="https://www.garcezfilho.com.br/pages/politica-de-privacidade.html" style="color: white; text-decoration: none!important">Política de Privacidade</a></li>
                      <li class="mb-2"><a href="https://www.garcezfilho.com.br/pages/politica-de-cookies.html" style="color: white; text-decoration: none!important">Política de Cookies</a></li>
                      <li class="mb-2"><a href="https://www.garcezfilho.com.br/pages/termos-de-uso.html" style="color: white; text-decoration: none!important">Termos de uso</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Direitos Autorais -->
    <p style="text-align:center; font-size:0.75rem; margin:auto; padding-bottom: 0.5rem;">
        Garcez Filho | Copyright © 2023 All rights reserved - <a href="https://www.garcezfilho.com.br/pages/politica-de-privacidade.html" style="color: white; text-decoration: none!important">Política de Privacidade<a/>
    </p>
</section>