{% comment %}

Ess include insere um Hero no início da página Full width.

{% endcomment %}

<style>
	.hero-default {
	  /* Modo retrato */
	  @media only screen and (orientation: portrait) {
	  	height: {{ include.height }}px;
	    background-position: center;
	    background-size: cover;
	    background-image: url({{ page.hero_url}});
	  }

	  /* Modo paisagem */
	  @media only screen and (orientation: landscape) {
	    height: {{ include.height }}px;
	    background-position: center;
	    background-size: cover;
	    background-image: url({{ page.hero_url}});
	  }
	}
</style>

<!-- Imagem do Hero -->
<section>
	<div class="container-fluid-g0 hero-default">
	</div>
</section>