{% comment %}

Ess include insere um Hero no início da página Full width.

{% endcomment %}

<style>
	.hero-default {
	  height: {{ include.height }}px;
	  background-position: center;
	  background-size: cover;
	  background-image: url({{ page.hero_url}});
	}

	@media only screen and (orientation: portrait) {
	  .hero-default {
	    height: {{ include.height }}px;
	  }
	}

	@media only screen and (orientation: landscape) {
	  .hero-default {
	    height: 200px;
	  }
	}
</style>

<!-- Imagem do Hero -->
<section>
	<div class="container-fluid-g0 hero-default">
	</div>
</section>