{% comment %}
Esse include cria uma lista das últimas publicações em cards.
{% endcomment %}


{% for post in site.posts limit: 5 %}

    <!-- Cria uma coluna para uma publicação nova -->
    <div class="col">
        <div class="card mb-3" style="border-width: 0px;">

            <!-- Imagem do Destaque 1 -->
            <a href="{{ post.url }}">
                <div style="background-image: url('{{ post.hero_url }}'); min-height: 30vh; background-size: cover; background-repeat: no-repeat; border-radius: 0px; border-width: 0px;">
                </div>

                <!-- Categoria do Destaque 1 -->
                <div class="card-img-overlay" style="height:25%;">
                    {% include badge.html categories = post.categories %}
                </div>

                <!-- TEMPO de Leitura do Destaque 1 -->
                <div class="card-img-overlay" style="height:25%; text-align: right;">
                    <span class="badge rounded-pill text-bg-light" style="margin:auto; margin-left: 0;">

                        {% comment %} Conta a quantidade de palavras {% endcomment %}
                        {% assign words = post.content | strip_html | number_of_words %}
                        {% include reading_time.html content = words %}

                    </span>
                </div>
            </a>

            <!-- Corpo do Destaque 1 -->
            <div class="card-body">

                <!-- Título do Destaque 1 -->
                <h5 class="card-title">{{ post.title }}</h5>

                <!-- Data do Destaque 1 -->
                <div class="mb-1 text-muted"><i class="bi bi-calendar3"></i> {{ post.date | date: "%d %b %Y" }}</div>

                <!-- Teaser da Publicação do Destaque 1 -->
                <p class="card-text">{{ post.content | strip_html | truncatewords: 100 }}</p>

                <!-- LEIA MAIS -->
                <div class="container-fluid m-0 p-0 g-0" style="text-align: right;">
                    <a class="btn btn-default"  href="{{ post.url }}"><i class="bi bi-book"></i> Leia mais</a>
                </div>

                <!-- Autor do Destaque 1 -->
                {% include author.html id_author = post.id_author %}

          </div>
        </div>
    </div>

{% endfor %}