{% comment %}
Esse include faz a inserção de uma minibio do autor da publicação.
{% endcomment %}

<!-- Informações sobre o Autor -->
<div class="container-fluid row align-items-center">

    <!-- Coluna de Imagem: Avatar Grande -->
    <div class="col-sm-12 col-md-12 col-lg-2 mb-3" style="text-align: center;">
        <img src="/assets/profile_carlos.jpg" class="card-img-top" alt="Foto do Carlos" style="border-radius: 5%; margin: auto; max-width: 150px;">
    </div>

    <!-- Coluna de Texto -->
    <div class="col-sm-12 col-md-12 col-lg-10 mb-3">

        <!-- Nome completo do Autor -->
        <h4>José Carlos Garcez Filho</h4>

        <!-- Minibio -->
        <p style="text-align: justify;">Advogado, formado em 2009 pela Universidade Braz Cubas, é conveniado a Defensoria Pública OAB/SP para 
        prestação de Assistência Judiciária suplementar. Membro da Comissão de Estudos sobre a Legislação e Regulamentação 
        de Controle de Armas – OAB/SP 17º Subseção – Mogi das Cruzes. Também é instrutor de Armamento e Tiro (IAT) formado 
        pelo Clube de Tiro Red Delta – Cascavel/PR</p>
    </div>

 </div>