{% comment %}
Esse include insere o cabeçalho da publicação com:
    
    1. Miniavatar
    2. Nome do Autor
    3. Data da publicação
    4. Compartilhar nas redes sociais

{% endcomment %}


<style>
    /* Definição da classe social-icon-top */
    .social-icon-top {
	    font-size: 1.5rem; /* Define o tamanho inicial da fonte */
	    color: #00000040;
	    display: inline-block; /* Mantém os ícones alinhados */
    }

    /* Hover effect nos ícones de redes sociais */
    .social-icon-top:hover {
	    color: #00000080; /* Altera para cinza escuro */
	    -webkit-transform: scale(1.2); /* Aumenta 20% */
	    -moz-transform: scale(1.2); /* Aumenta 20% */
	    -ms-transform: scale(1.2); /* Aumenta 20% */
	    transform: scale(1.2) translateZ(0); /* Aumenta 20% */
	    transition: 0.4s all ease;
    }
</style>

<!-- Social Media -- Top do Site -->
<div class="position-relative">
    <div class="position-absolute top-0 end-0">

        <div class="container-fluid" style="word-spacing:10px; text-align: center; padding-top: 1.5vh; margin-top: 1.5vh;">

            <!-- Share: Facebook -->
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" style="text-decoration: none;">
                <button style="background: transparent; border: none;">
                    <i class="bi bi-facebook social-icon-top"></i>
                </button>
            </a>
			
            <!-- Share: WhatsApp -->
            <a href="whatsapp://send?text={{ page.url | absolute_url }}" data-action="share/whatsapp/share" style="text-decoration: none;">
                <i class="bi bi-whatsapp social-icon-top"></i>
            </a>

            <!-- Share: Twitter -->
            <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title | escape }}" target="_blank" style="text-decoration: none;">
                <button style="background: transparent; border: none;">
                    <i class="bi bi-twitter social-icon-top"></i>
                </button>
            </a>

            <!-- Share: LinkedIn -->
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" target="_blank" style="text-decoration: none;">
                <button style="background: transparent; border: none;">
                    <i class="bi bi-linkedin social-icon-top"></i>
                </button>
            </a>

            <!-- Share: Copia URL na área de transferência -->
            <button style="background: transparent; border: none;" id="copy-button">
                <i class="bi bi-link-45deg social-icon-top"></i>
            </button>
            <p id="url-da-publicacao" style="display: none;">{{ site.url }}{{ page.url }}</p>

            <!-- Toast de Confirmação - A URL foi Copiada na área de transferência -->
            <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                <div class="toast-header">
                    <strong class="mr-auto">Mensagem</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    URL copiada para a área de transferência
                </div>
            </div>
		</div>
    </div>
</div>

<!-- Título do Post -->
<div class="card-title">
    <h1 style="margin-top: 5vh; padding-top: 5vh; padding-bottom: 2vh; text-align: left; font-family:'Oswald';">
        {% comment %} Insere o title do Front Matter {% endcomment %}
        {{ page.title }}
    </h1>
</div>

<div class="container-fluid row align-items-center justify-content-center row-cols-auto">

    <!-- Autor -->
    {% comment %} Insere os dados do Carlos {% endcomment %}
    {% if page.id_author == 1 %}

    <div class="col pb-3" style="white-space: nowrap;">
        <span>
            <img src="/assets/profile_carlos.jpg" class="card-img-top" alt="Foto do Carlos" style="border-radius: 50%; width: 35px;">
            José Carlos Garcez Filho
        </span>
    </div>

    {% endif %}

    {% comment %} Insere do dados da Fran {% endcomment %}
    {% if page.id_author == 2 %}

    <div class="col pb-3" style="white-space: nowrap;">
        <span>
            <img src="/assets/profile_fran.jpg" class="card-img-top" alt="Foto do Carlos" style="border-radius: 50%; width: 35px;">
            Françoise Patriane de Souza
        </span>
    </div>

    {% endif %}

    <!-- Categoria -->
    <div class="col pb-3">
        {% comment %} Adiciona todos os badge de acordo com as categorias {% endcomment %}
        {% include badge.html %}
    </div>

    <!-- Data da Publicação -->
    <div class="col pb-3">
        <span>
            <i class="bi bi-calendar3"></i>
            {% comment %} Insere a data do artigo de acordo com o front matter {% endcomment %}
            {% include data_longa.html %}
        </span>
    </div>

    <!-- Tempo de Leitura -->
    <div class="col pb-3">
        {% include reading_time.html %}
    </div>

</div>


<script>
    // Essa função é chamada quando o documento HTML estiver completamente carregado.
    $(document).ready(function () {
      // Adiciona um evento click ao elemento com o id "copy-button".
      $("#copy-button").click(function () {
        // Cria um elemento temporário de input.
        var $temp = $("<input>");
        // Adiciona o elemento temporário ao corpo do documento HTML.
        $("body").append($temp);
        // Atribui o texto do elemento com id "url-da-publicacao" ao valor do elemento temporário.
        // Seleciona o texto no elemento temporário.
        $temp.val($("#url-da-publicacao").text()).select();
        // Executa o comando "copy" para copiar o texto selecionado para a área de transferência.
        document.execCommand("copy");
        // Remove o elemento temporário.
        $temp.remove();

        // Mostra o componente Toast com o id "toast".
        $('#toast').toast('show');
      });
    });
</script>