{% comment %}
Esse include insere o cabeçalho da publicação com:
    
    1. Miniavatar
    2. Nome do Autor
    3. Data da publicação
    4. Compartilhar nas redes sociais

{% endcomment %}





{% if page.id_author == null %}
  <!-- Conteúdo a ser exibido caso id_author não esteja definido -->
  <p>Entrei no NULL</p>
{% else %}
  {% if page.id_author == 1 %}
    <!-- Conteúdo a ser exibido se id_author for igual a 1 -->
    <p>Entrei no id_author = 1</p>
  {% endif %}

  {% if page.id_author == 2 %}
    <!-- Conteúdo a ser exibido se id_author for igual a 2 -->
    <p> Entrei no id_author = 2</p>
  {% endif %}
{% endif %}