<!-- Publicações Semelhantes -->
<section>

    <!-- Texto que fica sobre o Parallax. -->
    <div class="w-100 parallax-hero-related-posts">
        <h1 style="margin-top: 5vh;padding-top: 5vh;text-align: center;font-family:'Oswald';">PUBLICAÇÕES SEMELHANTES</h1>
        <hr style="max-width: 50px;border-width: 3px;border-color: #FFFFFF;text-align: center;margin: auto;padding: 5vh; opacity:1"></hr>
    </div>

    <!-- Criando o Parallax -->
    <div class="parallax-related-posts">
    </div>
</section>