
<style>
        /* Parallax Hero: Texto sobre o Parallax - Publicações Semelhantes */

        .parallax-hero-related-posts {
            position: absolute;
            z-index: 1000;
            color: white;
        }

        /* Parallax de Publicações Semelhantes */
        .parallax-related-posts {
          /* The image used */
          background-image: url("/assets/publicacoes_semelhantes.jpg");

          /* Set a specific height */
          min-height: 40vh; 

          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          margin: 0;
          filter: brightness(65%);
        }
</style>









<!-- Publicações Semelhantes -->
<section>

    <!-- Texto que fica sobre o Parallax. -->
    <div class="w-100 parallax-hero-related-posts">
        <h1 style="margin-top: 5vh;padding-top: 5vh;text-align: center;font-family:'Oswald';">PUBLICAÇÕES SEMELHANTES</h1>
        <hr style="max-width: 50px;border-width: 3px;border-color: #FFFFFF;text-align: center;margin: auto;padding: 5vh; opacity:1"></hr>
    </div>

    <!-- Criando o Parallax -->
    <div class="parallax-related-posts">
    </div>

</section>