{% comment %}
Esse include faz a criação de um TOC automaticamente.

Foram inseridos efeitos:

    1. Fade-up do lado direito para o esquerdo.

Os dois JavaScripts são necessários para:

    1. Criar o TOC automaticamente
    2. Criar o efeito de fade-up
{% endcomment %}

<style>
/* TOC text-formatting */
.toc-topics {
    color: #00000090;
    text-decoration: none;
}

/* Text Fade-up effect: Right-left */
.reveal-rl {
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: 0.5s all ease;
}

.reveal-rl.active {
    transform: translateX(0);
    opacity: 1;
}
</style>

<!-- Inserindo o JS para fazer o efeito do fade-up: Right-left -->
<script>
// JavaScript
document.addEventListener("scroll", function() {
    var revealElements = document.querySelectorAll(".reveal-rl");
    var windowHeight = window.innerHeight;

    for (var i = 0; i < revealElements.length; i++) {
        var element = revealElements[i];
        var elementTop = element.getBoundingClientRect().top;

        if (elementTop < windowHeight - 50) {
        element.classList.add("active");
        }
    }
});
</script>

<!-- Criar o TOC automaticamente. -->
<script>
      $(document).ready(function(){

        // Inicializa a variável toc como uma string vazia
        var toc = "";
        // Inicializa a variável level como 0
        var level = 0;
        // Inicializa a variável headings como um array vazio
        var headings = [];

        // Encontra todos os elementos h2, h3, h4, h5 e h6 dentro do elemento com ID "content"
        $("#titulo-post, #content").find("h1, h2, h3, h4, h5, h6").each(function (index) {

          // Armazena o título do elemento atual
          var title = $(this).text();
          // Gera um ID único para o elemento atual
          var id = "toc-" + index;
          // Adiciona o ID gerado ao elemento atual
          $(this).attr("id", id);

          // Verifica o tipo de elemento (h2, h3, etc.)
          if ($(this).is("h1")) {
            level = 0;
          } else if ($(this).is("h2")) {
            level = 1;
          } else if ($(this).is("h3")) {
            level = 2;
          } else if ($(this).is("h4")) {
            level = 3;
          } else if ($(this).is("h5")) {
            level = 4;
          }

          // Adiciona uma linha para o elemento atual à variável toc
          toc += "<a class='toc-topics' href='#" + id + "'>&#8227;" + title + "</a><br>";

          // Adiciona espaços de acordo com o nível do elemento atual
          for (var i = 0; i < level; i++) {
            toc += "";
          }

          // Adiciona as informações do elemento atual ao array headings
          headings.push({
            id: id,
            title: title,
            level: level
          });

        });

        // Insere o conteúdo da variável toc no elemento com ID "TOC"
        $("#TOC").html(toc);

    // Adiciona o evento de scroll à página
    $(document).scroll(function () {
      // Armazena a posição atual do scroll
      var currentPosition = $(document).scrollTop() + $(window).height() / 2;

      // Loop pelos cabeçalhos (headings)
      for (var i = 0; i < headings.length; i++) {
        var heading = headings[i];

        // Verifica se a posição atual do scroll é menor ou igual à posição do cabeçalho
        if ($("#" + heading.id).offset().top <= currentPosition) {
          // Atualiza o estilo do TOC
          // Remove a decoração de todos os links
          $("#TOC a").css("text-decoration", "none").css("color","#00000090");
          // Adiciona decoração ao link do cabeçalho atual
          $("#TOC a[href='#" + heading.id + "']").css("text-decoration", "underline");
        }
      }
    });
  });

</script>

<!-- TOC -->
<div id="TOC-COL" class="d-none d-lg-block reveal-rl" style="max-width: 25%;">
    <div class="position-sticky" style="top: 12vh;">
        <div class="row">
            <h4>Sumário</h4>
        </div>
        <div class="row">
            <div id="TOC" style="margin-bottom: 16px;"></div>
        </div>
    </div>
</div>