<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

	{% comment %} Insere a tag head {% endcomment %}
	{% include header.html %}


	<style>
		/* Definindo estilo para a ID corpo-artigo */
		/* Aplicação: col */
		#corpo-artigo {
		  max-width: 70vw;
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  margin: 0;
		  padding: 0;
		}

		@media (max-width: 767px) {
		  #corpo-artigo {
			max-width: 90vw;
		  }
		}

	</style>

	<body>

		{% comment %} Insere o Hero {% endcomment %}
		{% include hero.html %}

		<!-- Corpo da página -->
		<section>
			<div class="row">
				<div id="corpo-artigo" class="col">

					{{ content }}
				</div>
			</div>
		</section>

		{% comment %}Insere a seção "Ficou Interessado?"{% endcomment %}
		{% include call_action.html %}

		{% comment %}Footer genérico{% endcomment %}
		{% include footer.html %}

	</body>
</html>