<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

    <!-- Inserindo o Header -->
    {% include header.html %}

    <body>

        <!-- Imagem full-width -->
        <section>

            <!-- Imagem do Hero -->
            <div class="container-fluid-g0" style="height: 200px;background-image: url(/assets/hero.jpg);background-position: center;background-size: cover;">
            </div>
        </section>

        <!-- Corpo do POST -->
        <section class="reveal">

            <!-- Criação do Card flutuante -->
            <div class="container card" style="max-width:70vw; top:-10vh;">
        
                <!-- Delimita o corpo do texto -->
                <div class="card-body" style="margin-left:5vw; margin-right:5vw;">

                    <!-- Título do Post -->
                    <div class="card-title">
                        <h1 style="margin-top: 5vh; padding-top: 5vh; padding-bottom: 2vh; text-align: left; font-family:'Oswald';">{{ page.title }}</h1>
                    </div>

                    <!-- Dados da Publicação e do Autor -->
                    <div class="container-g0">
                        <div class="row">

                            <!-- Avatar do Autor -->
                            <div class="col-md-6" style="margin: auto;">
                                <img src="/assets/profile_carlos.jpg" class="card-img-top" alt="Foto do Carlos" style="border-radius: 50%; width: 50px; margin: auto;" />
                                <span style="text-align: right; font-family:'Antiqua Book'; margin: auto;">{{ page.author }}</span>
                            </div>

                            <!-- Data -->
                            <div class="col-md-6" style="margin: auto;">
                                <p style="text-align: right; font-family:'Antiqua Book'; margin: auto;">
                                    <i>Publicado em {% include data_longa.html %}</i>
                                </p>
                            </div
                        </div>
                    </div>

                    <!-- Divisor -->
                    <hr style="max-width: 50px;border-width: 3px;border-color: rgba(6,42,78);text-align: center;margin: auto;padding-bottom: 10px; opacity:1; margin-bottom: 2vw;"></hr>


                    <!-- too long didn't read 
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">too long didn't read</h5>
                            <p class="card-text">piriri porororo</p>
                        </div>
                    </div>-->
                    
                    <!-- Conteúdo do POST -->
                    <div class="card-body">

                        {{ content }}

                    </div>

                    <div class="card-body">
    
                        <div class="row">

                            <!-- Avatar do Autor -->
                            <div class="col-md-6" style="margin: auto;">
                                <img src="/assets/profile_carlos.jpg" class="card-img-top" alt="Foto do Carlos" style="border-radius: 5%;width: 100px;margin: auto;">
                                <span style="text-align: right; font-family:'Antiqua Book'; margin: auto;">José Carlos Garcez Filho</span>
                            </div>

                            <!-- Data -->
                            <div class="col-md-6" style="margin: auto;">
                                <p style="text-align: right; font-family:'Antiqua Book'; margin: auto;">
                                <i>Publicado em 4 de Fevereiro de 2023</i>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    

    <!-- Inserindo o Footer -->
    {% include footer.html %}

  </body>
</html>