<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

    {% comment %}Insere a tag head{% endcomment %}
    {% include header.html %}

    <body>

        <!-- Imagem full-width -->
        <section>

            <!-- Imagem do Hero -->
            <div class="container-fluid-g0" style="height: 200px;background-image: url(/assets/hero.jpg);background-position: center;background-size: cover;">
            </div>
        </section>

        <!-- Corpo do POST -->
        <section>

            <!-- Definição de Linha -->
            <div class="row m-0">

                <!-- Definição de Coluna: Essa coluna será excluída na visualização pelo celular -->
                <div class="col d-none d-sm-block" style="max-width:7.5vw;">
                </div>
    
                <!-- Definição de Coluna: Essa é a coluna quer armazenará o conteúdo do POSTS -->
                <div class="col p-2 d-block" style="max-width:100vw; margin: auto;">

                        <!-- Criação do Card flutuante -->
                        <div class="container-fluid p-0 card" style="top:-10vh;">
        
                            <!-- Delimita o corpo do texto -->
                            <div class="card-body p-0" style="margin-left:5vw; margin-right:5vw;">

                                <!-- Título do Post -->
                                <div class="card-title">
                                    <h1 style="margin-top: 5vh; padding-top: 5vh; padding-bottom: 2vh; text-align: left; font-family:'Oswald';">{{ page.title }}</h1>
                                </div>

                                <!-- Dados da Publicação e do Autor -->
                                <div class="container-g0">
                                    <div class="row">

                                        <!-- Avatar do Autor -->
                                        <div class="col-md-6">
                                            <img src="/assets/profile_carlos.jpg" class="card-img-top" alt="Foto do Carlos" style="border-radius: 50%; width: 50px; margin: auto;">
                                            <span style="text-align: right; font-family:'Antiqua Book'; margin: auto;">{{ page.author }}</span>
                                        </div>

                                        <!-- Data -->
                                        <div class="col-md-6">
                                            <p style="text-align: right; font-family:'Antiqua Book'; margin: auto;">
                                                <i>Publicado em {% include data_longa.html %}.</i>
                                            </p>
                                        </div>
                                </div>

                                <!-- Divisor -->
                                <hr style="max-width: 50px;border-width: 3px;border-color: rgba(6,42,78);text-align: center;margin: auto;padding-bottom: 10px; opacity:1; margin-bottom: 2vw;">

                                <!-- Conteúdo do POST -->
                                <div class="card-body">

                                    <div class="row gx-5 mb-4">

                                        <!-- CONTENT -->
                                        <div id="content" class="col-sm-12 col-md-12 col-lg-9 p-2 d-block" style="text-align:justify; max-width: 100%;">

                                            {{ content }}

                                        </div>

                                        <!-- TOC -->
                                        {% comment %} Gera o TOC automaticamente{% endcomment %}
                                        {% include toc.html %}

                                    </div>

                                    {% comment %}Social Media & Rating{% endcomment %}
                                    {% include social_media.html %}

                                </div>

                                <hr style="max-width: 50px;border-width: 3px;border-color: rgba(6,42,78);text-align: center;margin: auto;padding-bottom: 10px; opacity:1; margin-bottom: 2vw;">

                                {% comment %}Minibio do Autor da Publicação{% endcomment %}
                                {% include minibio.html %}

                            </div>
                        </div>
                </div>
 
                <!-- Definição de Coluna: Essa coluna será excluída na visualização pelo celular -->
                </div><div class="col d-none d-sm-block" style="max-width:7.5vw;">
                </div>
            </div>

        </section>
        
        {% comment %}Insere seção de Publicações Semelhantes{% endcomment %}
        {% include related_posts.html %}

        {% comment %}Insere a seção "Ficou Interessado?"{% endcomment %}
        {% include call_action.html %}

        {% comment %}Footer genérico{% endcomment %}
        {% include footer.html %}

  </body>
</html>